/* PopupVoucher.module.css */
.popupOverlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.8);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: 999;
}

.active {
  opacity: 1;
  pointer-events: auto;
}

.popup {
  background: white;
  border-radius: 20px;
  padding: 30px;
  width: 90%;
  max-width: 500px;
  transform: scale(0.7);
  transition: transform 0.3s ease;
}

.active .popup {
  transform: scale(1);
}

.closeBtn {
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 28px;
  color: #888;
  background: none;
  border: none;
  cursor: pointer;
}

.popupHeader {
  display: flex;
  align-items: center;
  gap: 10px;
}

.popupIcon {
  font-size: 40px;
}

.popupTitle {
  font-size: 22px;
  font-weight: bold;
}

.popupContent {
  margin-top: 20px;
  font-size: 16px;
}

.popupContent p {
   color: #22364a;
}

.popupContent strong {
   color: #22364a;
}

.popupTitle {
   color: #22364a;
}

.popupContent ul {
  padding-left: 20px;
}

.popupContent li {
  margin-bottom: 8px;
}
